# Ignore api-gateway folder
api-gateway/

# Ignore mail-service folder
mail-service/

# Ignore payment-service folder
payment-service/

# Ignore user-service folder
user-service/

AuctionService/publish

publish/
